<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Mesosphere DC/OS AppStudio</title>

</head>

<body bgcolor="#FFFFFF">
	<div id="alldiv">
		<div>
			<img id="bg" style="position: absolute; top: 0px; left: 0px;" src="images/mesospheredcos1024x768.jpg"> </img>
</div>
<div id="text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
<h2>
	<center style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Do you bring your own data?
	<p>
	Yes: <input onclick="toggleBYOD()" style="font-size: 32px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" type="checkbox" name="byod" id="checkbyod"></input >
	<p>
	<table id="table" border="0">
			<col width="50%">
			<col width="50%">
			<tr>
				<td style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Container (Docker Tag):</td>
<td style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"><input disabled style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" type="text" name="tag" id="tag" value="" oninput="updateTag()" /></td>
</tr>
<tr>
	<td style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Datafilename:</td>
<td style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"><input disabled style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" type="text" name="fname" id="fname" value="" oninput="updateFName()" /></td>
</tr>
<tr>
	<td style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Frequency in Hz:</td>
<td style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"><input style="font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" type="text" name="frequency" id="frequency" value="1"  /></td>
</tr>
	</table>
	</center>
</h2>
</br>
<p>
<p>
<center>
	<button id="next" disabled onclick="mysubmit()" style="width: 360px; font-size: 24px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Continue</button>
</center>
</div>


</div>
<script>
									  var w = window.innerWidth;
									  var h = window.innerHeight;
									  var sX = w / 1024;
									  var sY = h / 768;
									  var bgh = (768 * window.innerWidth / 1024);
									  var table = '';
									  var topic = '';
									  var keyspace = '';

									  var bg = document.getElementById("bg");
									  bg.setAttribute("style",
										  "position:absolute; top:0px; left:0px; width: "
										  + window.innerWidth + "px; height: " + bgh + "px;");
									  var text = document.getElementById("text");
									  text.setAttribute("style", "style=font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; position:absolute; top:" + (320 * sY)
										  + "px; left:" + (((960 - 512 - 140) / 2) * sX) + "px; width: "
										  + (512 * sX * 1.5) + "px; height: " + (256 * sY * 1.5) + "px;");

									  let byod= false;
									  var tag="";
									  var fname="";

									  function toggleBYOD() {
											byod= !byod;
											let e= document.getElementById("checkbyod");
									
											if(byod) {
												document.getElementById("tag").disabled= false;
												document.getElementById("fname").disabled= false;
											}
											else {
												document.getElementById("tag").disabled= true;
												document.getElementById("fname").disabled= true;
												document.getElementById("tag").value="";
												document.getElementById("fname").value="";
												tag= "";
												fname= "";
												
										}
									  };

									  function updateTag() {
										  tag = document.getElementById("tag").value;
										  if (fname.length > 0 && tag.length) {
											  document.getElementById("next").disabled = false;
										  }
										  else {
											  document.getElementById("next").disabled = true;
										  }
									  };


									  function updateFName() {
										  fname = document.getElementById("fname").value;
										  if (fname.length > 0 && tag.length) {
											  document.getElementById("next").disabled = false;
										  }
										  else {
											  document.getElementById("next").disabled = true;
										  }
										  
									  };

									  function mysubmit() {
										  fname = document.getElementById("fname").value;
										  tag = document.getElementById("tag").value;
										  var fr= document.getElementById("frequency").value;
										  if(fr.length== 0)
										  	fr= 1;
										  location.href = "transformer.html?byod=" + (byod?"yes":"no") + "&fname=" + encodeURIComponent(fname) + "&tag=" + encodeURIComponent(tag)+"&frequency="+fr;
										  console.log(location.href);
									 };
</script>

</body>

</html>